@font-face {
    font-family: NetflixSans;
    src: url("./fonts/NetflixSansRegular.ttf")
    format("truetype");         
}

@font-face {
    font-family: NetflixBold;
    src: url("./fonts/NetflixSansBold.ttf")
    format("truetype");         
}

body {
    margin: 0px 0px 200px 0px;
    font-family: NetflixSans;
    background: rgb(20, 20, 20);
}

h1, h2 {
    color: white;
}

.header {
    width: 100%;
    position: fixed;
    background: rgb(20, 20, 20);
    padding: 20px 50px;
    display: flex;
    z-index: 100;
}

.header img {
    width: 80px;
    margin-right: 10px;
}

.header ul {
    margin: 0px;
    list-style-type: none;
}

.header ul li {
    display: inline;
    margin-right: 20px;
    font-size: 14px;
    color: #e5e5e5;
    cursor: pointer;
}

.header ul li:hover {
    color: #fafafa;
}

.header ul li:first-child {
    color: white;
}

#home-banner-cover img {
    width: 100%;
    height: 800px;
}

#home-banner-trailer {
    display: none;
}

.home-banner-inner {
    position: absolute;
    height: 800px;
    top: 0px;
    padding: 0px 50px;
}

.home-banner-inner img {
    margin-top: 200px;
    width: 518px;
}

.home-banner-inner p {
    font-size: 24px;
    line-height: 32px;
    color: white;
    width: 540px;
}

.home-banner-inner-action {
    display: flex;
}

.home-banner-inner-action a {
    text-decoration: none;
}

#play-button {
    background: white;
    border-radius: 5px;
    padding: 8px 20px;
    display: flex;
    width: 90px;
    cursor: pointer;
}

.more-info {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 8px 10px;
    display: flex;
    width: 150px;
    margin-left: 10px;
}

#play-button img, .more-info img {
    width: 35px;
    height: 28px;
    margin: 3px 10px 0px 0px;
}

#play-button p, .more-info p {
    margin: 0px;
    color: rgb(20, 20, 20);
    font-size: 18px;
}

.more-info p {
    margin: 0px;
    color: white;
    font-size: 18px;
}

.container {
    padding: 10px 50px;
}

.tiles-container {
    display: flex;
    justify-content: space-between;
}

.tiles {
    width: 19%;
}

.tiles img {
    width: 100%;
    border-radius: 5px;
}

#search-container {
    margin: 30px 0px;
    text-align: center;
}

#search-box {
    background: white;
    border: none;
    outline: none;
    padding: 10px 15px;
    width: 425px;
    font-size: 16px;
    font-family: NetflixSans;
    margin: 0px;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
}

#search-button {
    background: #E50914;
    color: white;
    border: none;
    padding: 12px 45px 10px;
    font-size: 16px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    border-radius: 5px;
}

#search-container p {
    margin: 20px 0px;
    font-size: 14px;
    color: #e5e5e5;
}

#search-results {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    margin: 0px auto;
    row-gap: 10px;
    column-gap: 10px;
    width: 950px;
}

#search-results > div > img {
    width: 100%;
    height: 460px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#search-results > div {
    text-align: left;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

#search-results > div > div {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

#search-results > div > div > div {
    width: 75%;
}

#search-results > div > div > div > h4 {
    margin: 5px 0px 5px;
}

#search-results > div > div > div > h6 {
    margin: 5px 0px 0px;
    color: #E50914;
    font-family: NetflixBold;
}

#search-results > div > div > div > p {
    margin: 0px;
    margin-bottom: 10px;
    color: rgb(20, 20, 20);
}

#search-results > div > div > p {
    margin: 0px;
    margin-top: 20px;
    font-family: NetflixBold;
    font-size: 18px;
    color: rgb(20, 20, 20);
}

.imdb-star {
    width: 20px;
}

#movie-container {
    display: none;
    width: 100%;
    position: fixed;
    background:rgba(0, 0, 0, 1);
    z-index: 101;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: white;
    text-align: center;
    padding: 20px 0px;
}

#movie-container > div {
    width: 60%;
    margin: 0px auto;
}

#movie-container > div > h3 {
    color: #e5e5e5;
    margin: 5px 0px;
}

#movie-container > div > h3:nth-last-child(2){
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

#movie-container > div > div {
    background: #e5e5e5;
    cursor: pointer;
    width: 80px;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 20px auto 0px;
    color: rgb(20, 20, 20);
}